@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #F5F9F9;
  margin: 20px;
}

.donation-requests {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
}
.empty{
  margin:150px;
}
h1{
  font-family: 'Open Sans', sans-serif;

}
.naslov{
  margin: 60px;
  /*color: #fd3c65;*/
  font-size: 35px;
}

