<div class="container">


    <div>
      <form [formGroup]="donateForm" (ngSubmit)="onSubmit()">
        <h1>List An Item For Donation</h1>
        <mat-form-field class="title">
          <mat-label for="title">Title</mat-label>
          <input matInput id="title" required type="text" name="title" formControlName="title">
        </mat-form-field>
        <br>

        <mat-form-field class="description">
          <mat-label for="description">Description</mat-label>
          <textarea matInput id="description" required type="text" formControlName="description"></textarea>
        </mat-form-field>
        <br>

        <img [src]="url" height="400"><br>
        <input class="imageUp" id="imgUrl" type="file" required (change)="onselectFile($event)" formControlName="imgUrl">
        <br>

        <button class="btn" mat-raised-button type="submit">Donate</button>
      </form>
    </div>

</div>
