<div class="container">
  <h1>About</h1>
  <div class="info">
    <img class="img" src="assets/images/doante.png">
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at odio a tellus cursus finibus non nec
      neque. Cras pulvinar eu eros sit amet malesuada. Mauris venenatis hendrerit nibh placerat imperdiet. Praesent
      tincidunt dui est, eu accumsan nisl varius et. Ut ac ex eget magna ullamcorper pharetra ut non orci. In hac
      habitasse platea dictumst. Donec est est, cursus a dictum quis, efficitur eu dui. Morbi ac est maximus, molestie
      urna et, iaculis neque. Nunc velit dolor, pharetra eget magna sit amet, tincidunt convallis odio. Nulla dictum nulla
      lobortis velit euismod semper. Proin viverra, risus sed suscipit pharetra, ipsum est commodo eros, convallis rutrum
      justo sapien vel orci. Nulla feugiat turpis tincidunt, condimentum nibh ac, fermentum leo. Mauris lacinia ac quam
      sed blandit. Etiam pretium eu diam non ultricies.

      Donec scelerisque ante vel placerat rhoncus. Quisque nisl sapien, aliquet quis neque eu, fringilla sollicitudin
      metus. Suspendisse potenti. Vivamus fermentum congue libero eget ultrices. Donec sed sapien pretium, porta quam sed,
      dapibus mi. Quisque sit amet vehicula velit, id accumsan erat. Duis vel placerat neque. Duis bibendum urna a
      pharetra ultrices. In vestibulum euismod ante. Morbi sit amet augue ultricies, dictum est sit amet, hendrerit sem.
      Praesent blandit condimentum ligula, non sagittis sem porttitor
      in.</p>
  </div>


</div>
