<footer class="footer-distributed">

  <div class="footer-left">
    <img src="assets/images/doante.png">
<!--    <h3>Donate A Piece</h3>-->

    <p class="footer-links">
      <a href="#">Home</a>
      |
      <a href="#">About</a>

    </p>

    <p class="footer-company-name">© 2021 Donate A Piece</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>50ta Divizija 59/29</span>
        Skopje, 1000</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+389 75 652 981</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:contact@donateapiece.com">contact@donateapiece.com</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      Our platform offers the people, the possibility of giving away clothes they don't need, to someone that truly needs them.</p>
    <!--    <div class="footer-icons">    -->
    <!--      <a href="#"><i class="fa fa-facebook"></i></a>-->
    <!--      <a href="#"><i class="fa fa-twitter"></i></a>-->
    <!--      <a href="#"><i class="fa fa-instagram"></i></a>-->
    <!--      <a href="#"><i class="fa fa-linkedin"></i></a>-->
    <!--      <a href="#"><i class="fa fa-youtube"></i></a>-->
    <!--    </div>-->
  </div>
</footer>
