@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.top-contributors {
  display: flex;
  justify-content: center;
}
h1{
  font-family: 'Open Sans', sans-serif;
  margin: 30px;
  font-size: 35px;
}

