<div class="container">
  <h1 *ngIf="donationRequests.length>0">Donate!</h1>
  <!--  <div class="donation-requests" *ngIf="donationRequests.length>0; else message">-->
  <!--    <div *ngFor="let donationRequest of donationRequests; let i = index">-->
  <!--      <app-donation-request [donationRequest]="donationRequest" [id]="i"></app-donation-request>-->
  <!--    </div>-->
  <!--  </d iv>-->

  <div class="carousel-container">
    <carousel [slides]="donationRequests" [animationType]="animationType"></carousel>
  </div>

  <!--    <div class="carousel-cell" *ngFor="let donationRequest of donationRequests; let i = index">-->
  <!--      <app-donation-request [donationRequest]="donationRequest" [id]="i"></app-donation-request>-->
  <!--    </div>-->

  <ng-template #message>
    <h1 class="empty">No Donation Requests</h1>
  </ng-template>
</div>


