<div class="container">
  <div class="infoText">
    <h1 class="naslov" *ngIf="donationRequests.length>0">List Of Requests For Donations</h1>
    <h2>Choose to donate a piece that another user wants</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <!--  <div class="donation-requests" *ngIf="donationRequests.length>0; else message">-->
  <!--    <div *ngFor="let donationRequest of donationRequests; let i = index">-->
  <!--      <app-donation-request [donationRequest]="donationRequest" [id]="i"></app-donation-request>-->
  <!--    </div>-->
  <!--  </d iv>-->

  <div class="carousel-container">
    <carousel [slides]="donationRequests" [animationType]="animationType"></carousel>
  </div>

  <!--    <div class="carousel-cell" *ngFor="let donationRequest of donationRequests; let i = index">-->
  <!--      <app-donation-request [donationRequest]="donationRequest" [id]="i"></app-donation-request>-->
  <!--    </div>-->

  <ng-template #message>
    <h1 class="empty">No Donation Requests</h1>
  </ng-template>
</div>


