.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color :white;
  height: 900px;
}

.carousel-container {
  display: flex;
}

.donation-requests {
  /*display: flex;*/
  /*justify-content: center;*/
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
  margin: 10px;
}
.empty{
  margin:150px;
}
.carousel {
  height: 750px !important;
  width: 1200px !important;
  max-width: 600px !important;
}


