.container {
  border: 1px ;
  border-radius: 15px;
  margin:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}
.container:hover{
  transition: 0.3s;
  box-shadow: 2px 2px 2px 2px #D4C7B0 ;
  cursor: pointer;
}

.data{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;

}
h1{
  margin: 5px;
}
p{
  text-align: center;
  margin:10px;
}
.img{
  border-radius: 5px;
  height: 150px;
}
.btn{
  background-color: #FFFDFA;
  margin:10px;

}
