/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; color:#151d41; }

* {
  box-shadow: none !important;
}
h1, h2,h3,h4,h5,h6 {
  font-weight: bold !important;
}
.btn{
  background-color: #fd3c65 !important;

  color: white !important;
  font-weight: bold !important;
  min-height: 50px !important;
}

